body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    background-color: #3882F6;
}

ul{
    list-style-type: none;
    display: flex;
}

a{
    text-decoration: none;
    font: 18px #E5E7EB;
}

.header{
    display: flex;
    background-color: #1F2937;
}

.hero{
    background-color: #1F2937;
}

.footer{
    background-color: #1F2937;
}

.quote{
    background-color: #E5E7EB;
    color: #1F2937;
    font: 36px light italic;
}

