html,body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

button{
    background-color: #3882F6;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 16px;
}

a{
    text-decoration: none;
    font: 18px #E5E7EB;
}

img{
    width: 100px;
    height: auto;
    
}

.information img{
    padding: 5px;
    border: 2px solid #3882F6;
}

.header,.footer{
    background-color: #1F2937;
    margin: 0px;
}

.information-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.information{
    display: flex;
    justify-content: space-around;
}

.info-box{
    display: flex;
    flex-direction: column;
    flex-basis: 140px;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.hero{
    background-color: #1F2937;
    display: flex;
}

.footer{
    text-align: center;
}

.quote{
    text-align: center;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 75px;
}

.main{
    display: flex;
    margin: 0;
    flex: 1 0 auto;
    justify-content: stretch;
    flex-direction: column;
}